.board {
  margin: 1rem;
  background-color: #8a2b06;
  width: 250px;
  height: 500px;
  text-align: center;
  border-radius: 7px;
  color: white;
}

.board img {
  width: 250px;
  height: 250px;
}

.board table td {
  padding: 3px;
  text-align: left;
}

.board table td:nth-child(1) {
  padding: 10px;
}

.board h2 {
  font-size: 17px;
  color: #000000;
}

.board h3 {
  color: #000000;
  margin: 0;
  font-size: 15px;
}
